# Propuesta 3: 
### Eliminación de características con porcentaje de valores nulos mayor a 60% e imputación de valores nulos restantes mediante algoritmo kNN.

Librerías:

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import KNNImputer

Carga de la data:

In [2]:
df1_1 = pd.read_csv(r'/Users/conisanchez/Desktop/DIEGO/df1_1.csv', header=0)
df2_1 = pd.read_csv(r'/Users/conisanchez/Desktop/DIEGO/df2_1.csv', header=0)

## Visualización de los conjuntos

In [3]:
df1_1.head(10)

,class,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698.0,2.130706e+09,280.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,neg,33058.0,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,neg,41040.0,2.280000e+02,100.0,0.0,0.0,0.0,0.0,0.0,0.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,neg,12.0,7.000000e+01,66.0,0.0,10.0,0.0,0.0,0.0,318.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,neg,60874.0,1.368000e+03,458.0,0.0,0.0,0.0,0.0,0.0,0.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0
5,neg,38312.0,2.130706e+09,218.0,0.0,0.0,0.0,0.0,0.0,0.0,...,388574.0,288278.0,900430.0,300412.0,1534.0,338.0,856.0,0.0,0.0,0.0
6,neg,14.0,6.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,168.0,48.0,60.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0
7,neg,102960.0,2.130706e+09,116.0,0.0,0.0,0.0,0.0,0.0,0.0,...,715518.0,384948.0,915978.0,1052166.0,1108672.0,341532.0,129504.0,7832.0,0.0,0.0
8,neg,78696.0,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,699290.0,362510.0,1190028.0,1012704.0,160090.0,63216.0,41202.0,4.0,0.0,0.0
9,pos,153204.0,1.820000e+02,NaN,0.0,0.0,0.0,0.0,0.0,11804.0,...,129862.0,26872.0,34044.0,22472.0,34362.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df2_1.head(10)

,class,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,60.0,2.000000e+01,12.0,0.0,0.0,0.0,0.0,0.0,2682.0,...,1098.0,138.0,412.0,654.0,78.0,88.0,0.0,0.0,0.0,0.0
1,neg,82.0,6.800000e+01,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1068.0,276.0,1620.0,116.0,86.0,462.0,0.0,0.0,0.0,0.0
2,neg,66002.0,2.120000e+02,112.0,0.0,0.0,0.0,0.0,0.0,199486.0,...,495076.0,380368.0,440134.0,269556.0,1315022.0,153680.0,516.0,0.0,0.0,0.0
3,neg,59816.0,1.010000e+03,936.0,0.0,0.0,0.0,0.0,0.0,0.0,...,540820.0,243270.0,483302.0,485332.0,431376.0,210074.0,281662.0,3232.0,0.0,0.0
4,neg,1814.0,1.560000e+02,140.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7646.0,4144.0,18466.0,49782.0,3176.0,482.0,76.0,0.0,0.0,0.0
5,neg,174.0,2.600000e+01,24.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
6,neg,40202.0,6.400000e+02,606.0,0.0,0.0,0.0,0.0,0.0,0.0,...,526218.0,239734.0,439556.0,374248.0,169096.0,53658.0,41054.0,320.0,0.0,0.0
7,neg,120278.0,2.130706e+09,256.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1006722.0,459658.0,876356.0,689532.0,568540.0,500624.0,1006628.0,34820.0,0.0,0.0
8,neg,14592.0,2.130706e+09,162.0,0.0,0.0,0.0,0.0,0.0,0.0,...,105024.0,57398.0,49152.0,38256.0,243268.0,145144.0,0.0,0.0,0.0,0.0
9,neg,28338.0,2.130706e+09,238.0,0.0,0.0,0.0,0.0,0.0,0.0,...,357006.0,150056.0,264776.0,239282.0,140548.0,74750.0,32958.0,84.0,0.0,0.0

## Imputación de data faltante con algoritmo KNN

Al tener variables anonimizadas, no se puede discriminar si los outliers presentan valores lógicos, por lo que para resguardar la integridad de la data, se considera mantenerlos.

Imputación de valores vacíos con kNN.

Para el correcto funcionamiento del algoritmo, se cambian los valores de la columna class por 0 y 1 para neg y pos, respectivamente.

In [5]:
# Reemplazar "neg" por 0 y "pos" por 1 en la columna "class" de df1_1
df1_1['class'] = df1_1['class'].replace({'neg': 0, 'pos': 1})

# Reemplazar "neg" por 0 y "pos" por 1 en la columna "class" de df2_1
df2_1['class'] = df2_1['class'].replace({'neg': 0, 'pos': 1})

En el seteo del algoritmo, se utilizan 5 vecinos, y los pesos se distribuyen de manera uniforme.

In [6]:
imputer = KNNImputer(n_neighbors=5, weights="uniform")
df1_2 = imputer.fit_transform(df1_1)
df2_2 = imputer.fit_transform(df2_1)

la salida del imputador entrega los conjuntos de datos como un arreglo, y no como un data frame.
Para corregirlo, se utiliza una función que transforma los arreglos a data frames.

In [7]:
import pandas as pd

def array_to_dataframe(data_array, column_names):
    # Crear un DataFrame a partir del array y los nombres de columna proporcionados
    df = pd.DataFrame(data_array, columns=column_names)
    return df

# Ejemplo de uso
data_array = df1_2  # Reemplaza df1_2 con tu array real
column_names = [df1_1.columns]  # Reemplaza con los nombres de columna correspondientes

# Convertir el array en DataFrame
df1_2 = array_to_dataframe(data_array, column_names)

# Ejemplo de uso
data_array = df2_2  # Reemplaza df1_2 con tu array real
column_names = [df2_1.columns]  # Reemplaza con los nombres de columna correspondientes

# Convertir el array en DataFrame
df2_2 = array_to_dataframe(data_array, column_names)

Visualización del conjunto de entrenamiento

In [8]:
df1_2.head(10)

,class,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,0.0,76698.0,2.130706e+09,280.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,0.0,33058.0,0.000000e+00,312.8,0.0,0.0,0.0,0.0,0.0,0.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,0.0,41040.0,2.280000e+02,100.0,0.0,0.0,0.0,0.0,0.0,0.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,0.0,12.0,7.000000e+01,66.0,0.0,10.0,0.0,0.0,0.0,318.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,0.0,60874.0,1.368000e+03,458.0,0.0,0.0,0.0,0.0,0.0,0.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0
5,0.0,38312.0,2.130706e+09,218.0,0.0,0.0,0.0,0.0,0.0,0.0,...,388574.0,288278.0,900430.0,300412.0,1534.0,338.0,856.0,0.0,0.0,0.0
6,0.0,14.0,6.000000e+00,220.8,0.0,0.0,0.0,0.0,0.0,0.0,...,168.0,48.0,60.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,102960.0,2.130706e+09,116.0,0.0,0.0,0.0,0.0,0.0,0.0,...,715518.0,384948.0,915978.0,1052166.0,1108672.0,341532.0,129504.0,7832.0,0.0,0.0
8,0.0,78696.0,0.000000e+00,387.2,0.0,0.0,0.0,0.0,0.0,0.0,...,699290.0,362510.0,1190028.0,1012704.0,160090.0,63216.0,41202.0,4.0,0.0,0.0
9,1.0,153204.0,1.820000e+02,300.0,0.0,0.0,0.0,0.0,0.0,11804.0,...,129862.0,26872.0,34044.0,22472.0,34362.0,0.0,0.0,0.0,0.0,0.0

In [9]:
header1 = df1_2.head(10)
selected_columns = df1_2.columns[:5].tolist() + df1_2.columns[-5:].tolist()
header1 = header1[selected_columns]

# Guardar el encabezado como un archivo XLSX
header1.to_excel('mv_fixed_TRS.xlsx', index=False)

Visualización del conjunto de pruebas

In [10]:
df2_2.head(10)

,class,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,0.0,60.0,2.000000e+01,12.0,0.0,0.0,0.0,0.0,0.0,2682.0,...,1098.0,138.0,412.0,654.0,78.0,88.0,0.0,0.0,0.0,0.0
1,0.0,82.0,6.800000e+01,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1068.0,276.0,1620.0,116.0,86.0,462.0,0.0,0.0,0.0,0.0
2,0.0,66002.0,2.120000e+02,112.0,0.0,0.0,0.0,0.0,0.0,199486.0,...,495076.0,380368.0,440134.0,269556.0,1315022.0,153680.0,516.0,0.0,0.0,0.0
3,0.0,59816.0,1.010000e+03,936.0,0.0,0.0,0.0,0.0,0.0,0.0,...,540820.0,243270.0,483302.0,485332.0,431376.0,210074.0,281662.0,3232.0,0.0,0.0
4,0.0,1814.0,1.560000e+02,140.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7646.0,4144.0,18466.0,49782.0,3176.0,482.0,76.0,0.0,0.0,0.0
5,0.0,174.0,2.600000e+01,24.0,0.0,0.0,0.0,0.0,0.0,367.2,...,1079.2,318.4,585.2,300.0,217.6,1232.4,0.0,0.0,0.0,0.0
6,0.0,40202.0,6.400000e+02,606.0,0.0,0.0,0.0,0.0,0.0,0.0,...,526218.0,239734.0,439556.0,374248.0,169096.0,53658.0,41054.0,320.0,0.0,0.0
7,0.0,120278.0,2.130706e+09,256.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1006722.0,459658.0,876356.0,689532.0,568540.0,500624.0,1006628.0,34820.0,0.0,0.0
8,0.0,14592.0,2.130706e+09,162.0,0.0,0.0,0.0,0.0,0.0,0.0,...,105024.0,57398.0,49152.0,38256.0,243268.0,145144.0,0.0,0.0,0.0,0.0
9,0.0,28338.0,2.130706e+09,238.0,0.0,0.0,0.0,0.0,0.0,0.0,...,357006.0,150056.0,264776.0,239282.0,140548.0,74750.0,32958.0,84.0,0.0,0.0

In [11]:
header2 = df2_2.head(10)
selected_columns = df2_2.columns[:5].tolist() + df2_2.columns[-5:].tolist()
header2 = header2[selected_columns]

# Guardar el encabezado como un archivo XLSX
header2.to_excel('mv_fixed_TES.xlsx', index=False)

In [13]:
# Exportar df1_2 a un archivo CSV
df1_2.to_csv('df1_2.csv', index=False)

# Exportar df2_2 a un archivo CSV
df2_2.to_csv('df2_2.csv', index=False)

## Normalización data

Al no eliminar los outliers, una manera de reducir su influencia sobre las predicciones de los algoritmos de clasificación es la normalización de las catacterísticas. Mejorando la convergencia y rendimiento general de los modelos. También ayuda en la eliminación de los sesgos, mientras mantiene la información relativa entre características.

Para la normalización del presente conjunto de datos, se utilizará el algoritmo Min-Max Scaling.

In [29]:
# Obtener las columnas a escalar sin incluir la variable "class"
#columns_to_scale = df1_1.drop('class', axis=1).columns

# Crear el objeto MinMaxScaler
scaler = MinMaxScaler()

# Ajustar el scaler con los datos de entrenamiento y transformar los datos de entrenamiento
df1_3 = pd.DataFrame(scaler.fit_transform(df1_2.values), columns=df1_2.columns)

# Transformar los datos de prueba utilizando el scaler ajustado con los datos de entrenamiento
df2_3 = pd.DataFrame(scaler.transform(df2_2.values), columns=df2_2.columns)

Visualización datos de entrenamiento

In [24]:
df1_3.head(10)

,class,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,0.0,0.027925,9.999998e-01,3.261769e-08,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.015918,0.013067,7.421784e-03,8.179508e-03,1.073013e-02,0.001321,0.003800,0.000000,0.000000,0.000000
1,0.0,0.012036,0.000000e+00,3.643862e-08,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.005407,0.004716,3.019031e-03,4.272917e-03,4.228511e-03,0.000679,0.005064,0.000394,0.000000,0.000000
2,0.0,0.014942,1.070067e-07,1.164918e-08,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.003559,0.004232,4.364196e-03,7.130884e-03,1.014768e-02,0.001321,0.004937,0.000135,0.000000,0.000000
3,0.0,0.000004,3.285295e-08,7.688457e-09,0.0,0.000498,0.0,0.0,0.0,0.000005,...,0.000003,0.000001,5.970003e-07,7.660803e-07,3.163775e-07,0.000000,0.000000,0.000000,0.008299,0.027923
4,0.0,0.022164,6.420405e-07,5.335323e-08,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.007981,0.006086,4.171776e-03,6.044861e-03,9.078578e-03,0.002605,0.022523,0.000320,0.000000,0.000000
5,0.0,0.013949,9.999998e-01,2.539520e-08,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.004986,0.007635,9.268224e-03,5.230448e-03,4.853230e-05,0.000003,0.000044,0.000000,0.000000,0.000000
6,0.0,0.000005,2.815967e-09,2.572138e-08,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.000002,0.000001,6.175865e-07,4.875056e-07,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.0,0.037487,9.999998e-01,1.351304e-08,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.009181,0.010195,9.428261e-03,1.831917e-02,3.507588e-02,0.002856,0.006721,0.002056,0.000000,0.000000
8,0.0,0.028653,0.000000e+00,4.510561e-08,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.008973,0.009601,1.224909e-02,1.763210e-02,5.064887e-03,0.000529,0.002138,0.000001,0.000000,0.000000
9,1.0,0.055780,8.541767e-08,3.494753e-08,0.0,0.000000,0.0,0.0,0.0,0.000186,...,0.001666,0.000712,3.504186e-04,3.912581e-04,1.087136e-03,0.000000,0.000000,0.000000,0.000000,0.000000

In [25]:
df2_3.head(10)

,class,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,0.0,0.000022,9.386557e-09,1.397901e-09,0.0,0.0,0.0,0.0,0.0,0.000042,...,0.000014,0.000004,0.000004,0.000011,0.000002,7.359084e-07,0.000000,0.000000,0.0,0.0
1,0.0,0.000030,3.191429e-08,4.659671e-09,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000014,0.000007,0.000017,0.000002,0.000003,3.863519e-06,0.000000,0.000000,0.0,0.0
2,0.0,0.024031,9.949750e-08,1.304708e-08,0.0,0.0,0.0,0.0,0.0,0.003146,...,0.006353,0.010074,0.004530,0.004693,0.041604,1.285164e-03,0.000027,0.000000,0.0,0.0
3,0.0,0.021778,4.740211e-07,1.090363e-07,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.006939,0.006443,0.004975,0.008450,0.013648,1.756764e-03,0.014619,0.000848,0.0,0.0
4,0.0,0.000660,7.321514e-08,1.630885e-08,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000098,0.000110,0.000190,0.000867,0.000100,4.030771e-06,0.000004,0.000000,0.0,0.0
5,0.0,0.000063,1.220252e-08,2.795802e-09,0.0,0.0,0.0,0.0,0.0,0.000006,...,0.000014,0.000008,0.000006,0.000005,0.000007,1.030606e-05,0.000000,0.000000,0.0,0.0
6,0.0,0.014637,3.003698e-07,7.059401e-08,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.006752,0.006349,0.004524,0.006516,0.005350,4.487201e-04,0.002131,0.000084,0.0,0.0
7,0.0,0.043792,9.999998e-01,2.982189e-08,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.012918,0.012174,0.009020,0.012005,0.017987,4.186516e-03,0.052245,0.009139,0.0,0.0
8,0.0,0.005313,9.999998e-01,1.887167e-08,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.001348,0.001520,0.000506,0.000666,0.007696,1.213780e-03,0.000000,0.000000,0.0,0.0
9,0.0,0.010318,9.999998e-01,2.772504e-08,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.004581,0.003974,0.002725,0.004166,0.004447,6.251040e-04,0.001711,0.000022,0.0,0.0

In [26]:
# Exportar df1_3 a un archivo CSV
df1_3.to_csv('df1_3.csv', index=False)

# Exportar df2_3 a un archivo CSV
df2_3.to_csv('df2_3.csv', index=False)

In [35]:
header1 = df1_3.head(10)
selected_columns = df1_3.columns[:5].tolist() + df1_3.columns[-5:].tolist()
header1 = header1[selected_columns]

# Guardar el encabezado como un archivo XLSX
header1.to_excel('normalized_values_TRS.xlsx', index=False)

In [36]:
header2 = df2_3.head(10)
selected_columns = df2_3.columns[:5].tolist() + df2_3.columns[-5:].tolist()
header2 = header2[selected_columns]

# Guardar el encabezado como un archivo XLSX
header2.to_excel('normalized_values_TES.xlsx', index=False)